/codewars/nbproject/private/
/codewars/build/
/codewars/dist/
/design-patterns/01-strategy-pattern/nbproject/private/
/design-patterns/01-strategy-pattern/build/
/design-patterns/02-observer-pattern/nbproject/private/
/text-game/WumpusHunter/nbproject/private/
/text-game/WumpusHunter/build/